PORT=3000
DATABASE_URL="mysql://root:root@mariadb:3306/Product"
REDIS_URL="redis://redis:6379"

DB_HOST=mariadb
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=Product

BUCKET_NAME=your-s3-bucket
BUCKET_REGION=eu-north-1
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key

FRONTEND_SERVICE_URL=http://localhost:2000