PORT=3001
DATABASE_URL="mysql://root:root@mariadb:3306/Orders"
REDIS_URL="redis://redis:6379"

DB_HOST=mariadb
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=Orders

FRONTEND_SERVICE_URL=http://localhost:2000